body{
   text-align: center;
}

header{
   background: black;
   color: white;
   padding: 0.9rem;
   text-shadow: 2px 2px 4px wheat, 2px 2px 4px wheat;
}

header h1{
   padding: 0.2rem;
}

p{
  padding: 0.3rem;
}

.gap{
  padding-bottom:0.2rem;
}

section#sec{
   display: flex;
   flex-direction: row; 
   justify-content: space-around;
   padding: 0.1rem;
   height: auto;
}

#secal1{
   width: 46%;
   height: auto;
   border: 1px inset #30cf2b;
   margin-bottom: 0.2rem;
   padding-bottom: 0.3rem;
}

#secal2{
   width: 46%;   
   height:auto;
   border: 1px outset #30cf2b;
   padding-bottom: 0.3rem;
   margin-bottom: 0.2rem;
}

input, label{
   font: 1.5rem;
   margin: 1.1rem;
   padding: 0.3rem;
}

input[type="text"]{
   border: 1px outset #63baf0;
}

button{
   border: 2px inset #20bf6b;
   background-color: white;
   color: #20bf6b;
   border-radius: 3px;
   padding: 0.4rem;
   margin-top: 0.2rem;
}

@media screen and (max-width:786px){
   section#sec{
      flex-direction: column;
      height: auto;
      align-items: center;
   }
   
   #secal1, #secal2{
      width: 90%;
      height: auto;
      padding-bottom: 0.3rem;
      margin-bottom: 0.2rem;
   }
}