.messages {
  padding: 5% 0;
  overflow: auto;
  flex: auto;
  scroll-behavior: smooth;
}

::-webkit-scrollbar{
  width: 10px;
}

::-webkit-scrollbar-thumb{
  border-radius: 20px;
  background: #2979FF;
}
