@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root{
    --bg : #6200ee;
}

#app{
    font-family: 'Roboto';
    max-width: 1366px;
    max-height: 1770px;
    width: 1366px;
    height: 1770px;
    top: 0;
    left: 0;
    background: var(--bg) 0% 0% no-repeat padding-box;
    margin: 0 auto;
}

button{
    margin-top: .6rem;
    color: #000000;
    text-align: center;
    border-radius: 50px;
    background-color: #03dac5;
}

@media(max-width: 1200px){
    #app{
        width: 100%;
    }
}